.each-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    padding: .5rem;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 10px 10px 0 black;
    border-radius: .2rem;
    
    .team-name {
        color: rgba(255, 255, 255, 0.789);
    }
}
.each-team:hover {
    background: rgba(0, 0, 0, 0.7);

    .team-short-name, .team-matches, .team-wins {
        color: rgba(255, 255, 255, 0.789);
    }
}