.match-detail-card {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;

    .match-card-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: rgba(222, 225, 254, 0.5);
        border-radius: .5rem;
        overflow: hidden;
        height: 100%;

        .match-card-left {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            font-size: .8rem;

            .team-link {
                padding: .5rem;
                display: flex;
                align-items: center;
                height: 100%;
            }

            .match-card-detail-section {
                display: flex;
                flex-direction: row;

                .match-won {
                    padding: .5rem .5rem;
                }
                .match-card-captain {
                    padding: .5rem .5rem;
                }
                .match-card-result {
                    padding: .5rem .5rem;
                }
            }
        }

        .match-card-right {
            display: flex;
            align-items: center;
            height: 100%;
            padding: var(--match-card-padding);
            background-color: white;
        }
    }   
    
}