@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(16,16,16);
  background: linear-gradient(45deg, rgba(16,16,16,1) 0%, rgba(73,120,167,1) 33%, rgba(82,82,177,1) 88%); 

  font-family: 'Nunito', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.max-width {
  width: 80vw;
  margin: 0px auto;
}

:root {
  --match-card-padding: .5rem .5rem .5rem .5rem;
}
