@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(16,16,16);
  background: linear-gradient(45deg, rgba(16,16,16,1) 0%, rgba(73,120,167,1) 33%, rgba(82,82,177,1) 88%); 

  font-family: 'Nunito', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.max-width {
  width: 80vw;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.match-winner {
  background: var(--winner-color);
  padding: var(--match-card-padding);
  backdrop-filter: blur(20px);
}
.match-looser {
  background: var(--looser-color);
  padding: var(--match-card-padding);
  backdrop-filter: blur(20px);
}

.pointer {
  cursor: pointer;
}

:root {
  --match-card-padding: .5rem;
  --looser-color: rgba(255, 0, 0, 0.300);
  --winner-color: rgba(172, 255, 47, 0.300);
}


